SELECT pl.total_points, pl.squad_points, pl.breakdown FROM points_log pl JOIN matches m ON pl.match_id = m.id JOIN fantasy_teams ft ON pl.fantasy_team_id = ft.id WHERE m.match_no = 3 AND ft.team_name = 
\SUPREME
RAJAS\';
